body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#navindex {
  /* Um tom de azul escuro. Você pode trocar o código
     #2c3e50 por qualquer cor que preferir. */
  background-color: #007efc !important; 
}
