body {
  margin: 0;
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#navindex {
  background-color: #5caaf8 !important; 
}

#heroindex {
  min-height: 91.3vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgb(0, 68, 255)), url('/images/logonerthus.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#tituloindex {
  font-size: 30px;
}